body {
    background-color: black;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 70px;
    margin-right: 10px;
}

h1 {
    color: #1ED761;
    font-family: 'Raleway', sans-serif;;
    font-size: 60px;
}

h2 {
    color: #fff;
    font-family: 'Raleway', sans-serif;;
    font-size: 30px;
}

.playlist {
    display: inline-flex;
    flex-direction: row;
}

.playlist > div {
    margin-right: 20px;
}

div img {
    height: 200px;
    padding-bottom: 0px;
}

div p {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}